{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="root"></div>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src='https://unpkg.com/react-router-dom@5.3.3/umd/react-router-dom.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://unpkg.com/react-router@6.3.0/umd/react-router.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-paginate@8.1.0/dist/react-paginate.js"></script>
    <script type="text/babel">

        const Link = ReactRouterDOM.Link;
        const Route = ReactRouterDOM.Route;
        const useParams = ReactRouterDOM.useParams;
        const {useState, useEffect} = React;

        var csrftoken = getCookie('csrftoken'); // Replace Django CSRF

        const CSRFToken = () => {
            return (
                <input type="hidden" name="csrfmiddlewaretoken" value={csrftoken}/>
            )
        }

        // For Getting CSRF Token in React
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Posting/Send A Post
        function Posting() {
            const [content, setContent] = useState("");

            {# Send Post after submit #}

            function handleSubmit() {
                fetch("/posting", {
                    method: "POST",
                    body: JSON.stringify({
                        content: content
                    })
                })
                    .then(response => response.json())
                    .then(result => {
                        console.log(result);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }

            {# Update State each time textfield change #}

            function updateContent(event) {
                setContent(event.target.value);
            }

            return (
                <div className="posting container pl-3 pt-2 pb-3 text-white">
                    <p>Post</p>
                    <form id="post" method="POST" onSubmit={handleSubmit}>
                        <CSRFToken/>
                        <div className="d-flex mb-3">
                            <img src="{% static 'pic/pp.jpg' %}" alt="pp" className="rounded-circle"/>
                            <textarea placeholder="What's happening?" name="sendPost" id="sendPost"
                                      className="ml-3" onChange={updateContent}/>
                        </div>
                        <div className="text-right">
                            <button className="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            );
        }

        function Pagination({posts}) {
            // We start with an empty list of items.
            const [items, setItems] = useState([]);

            const [currentItems, setCurrentItems] = useState(null);
            const [pageCount, setPageCount] = useState(0);
            // Here we use item offsets; we could also use page offsets
            // following the API or data you're working with.
            const [itemOffset, setItemOffset] = useState(0);

            const itemsPerPage = 10;

            useEffect(() => {
                const getPost = async () => {
                    try {
                        setItems(posts);
                        // Fetch items from another resources.
                        const endOffset = itemOffset + itemsPerPage;
                        setCurrentItems(posts.slice(itemOffset, endOffset));
                        setPageCount(Math.ceil(posts.length / itemsPerPage));
                    } catch (err) {
                        console.log(err);
                    }
                }
                getPost();

            }, [itemOffset, itemsPerPage, posts])

            // Invoke when user click to request another page.
            const handlePageClick = (page) => {
                // Ignore 'Previous Page' at Page 1 and 'Next Page' at the last Page
                if (page < 0 || page > pageCount - 1) {
                    return;
                }

                const newOffset = page * itemsPerPage % items.length;
                setItemOffset(newOffset);
            };

            const onPage = {backgroundColor: "#2ce4f5"};
            const notOnPage = {backgroundColor: "white"};

            return (
                <div>
                    {# Render the posts #}
                    {posts && currentItems && <Post post={currentItems}/>}

                    {# Show Pagination #}
                    <nav aria-label="Page navigation example">
                        <ul className="pagination justify-content-center mt-3">
                            <li className="page-item">
                                <a className="page-link bg-primary"
                                   onClick={() => handlePageClick((itemOffset / 10) - 1)}>
                                    Previous
                                </a>
                            </li>
                            {
                                [...Array(pageCount)].map((x, i) =>
                                    <li className="page-item">
                                        <a className="page-link" href="#"
                                           style={i == (itemOffset) / 10 ? onPage : notOnPage}
                                           onClick={() => handlePageClick(i)}>
                                            {i + 1}
                                        </a>
                                    </li>
                                )
                            }
                            <li className="page-item">
                                <a className="page-link bg-primary"
                                   onClick={() => handlePageClick((itemOffset / 10) + 1)}>
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            );
        }

        // Content of a Post
        function Post({post}) {
            const [content, setContent] = useState(null);
            const [postNum, setPostNum] = useState(null);
            const [likes, setLikes] = useState(null);
            const [likeId, setLikeId] = useState(null);
            const [likeStatus, setLikeStatus] = useState(null);
            const [initialLike, setInitialLike] = useState(true);

            {# Enable post owner to edit post and highlighting the text field #}

            function enableEdit(index) {
                document.getElementById(`content${index}`).readOnly = false;
                document.getElementById(`content${index}`).style.border = "1px solid white";
                document.getElementById("edit_button").style.display = "block";
            }

            function editContent(event, index) {
                setContent(event.target.value);
                setPostNum(index);
            }

            function updatePost(event, itemId) {
                {# On Click or Enter #}
                if (event.key === "Enter" || event.key == null) {
                    fetch("/posting", {
                        method: "PUT",
                        body: JSON.stringify({
                            post_id: itemId,
                            post_content: content
                        })
                    })
                        .then(result => {
                            document.getElementById(`content${postNum}`).readOnly = true;
                            document.getElementById(`content${postNum}`).style.border = "none";
                            document.getElementById("edit_button").style.display = "none";
                            if (!result.ok) {
                                alert("You are not able to change the content");
                            }
                        })
                        .catch(err => {
                            console.log("Error: " + err);
                        })
                }
            }

            {# Like Post Event #}

            function likePost(itemId, likeStatus) {
                setLikeId(itemId)
                setInitialLike(false)
                const current_likes = parseInt(document.getElementById(`like_count${itemId}`).innerHTML);
                console.log(current_likes);

                if (likeStatus) {
                    document.getElementById(`like_count${itemId}`).innerHTML = current_likes + 1;
                    setLikeStatus(true);
                } else {
                    document.getElementById(`like_count${itemId}`).innerHTML = current_likes - 1;
                    setLikeStatus(false);
                }

                fetch("/likePost", {
                    method: "PUT",
                    body: JSON.stringify({
                        postId: itemId,
                        like_status: likeStatus
                    })
                })
                    .then(result => {

                    })
                    .catch(err => {
                        console.log(err)
                    })
            }

            {# Get id of loggied in user #}
            {% if user.is_authenticated %}
                var user_id = "{{ request.user.id }}"
            {% endif %}

            return (
                <div>
                    {
                        post.map((item, index) => {
                            return (
                                <div className="posts container pt-2 pb-2">
                                    <div>
                                        <div className="d-flex">
                                            <div>
                                                <Link to={`/profile/${item.user.user_id}`}
                                                      className="following">
                                                    <img src="{% static 'pic/pp.jpg' %}"
                                                         alt="pp" id="profile"
                                                         className="rounded-circle"/>
                                                </Link>
                                            </div>

                                            <div className="ml-3 w-100">
                                                <div className="d-flex align-items-baseline justify-content-between">
                                                    <Link to={`/profile/${item.user.user_id}`}
                                                          className="following">
                                                        <h6>{item.user.username}</h6>
                                                    </Link>
                                                    <div>
                                                        <span className="text-secondary">{item.timestamp}</span>

                                                        {# Only Post owner can edit #}
                                                        {% if user.is_authenticated %}
                                                            {
                                                                (user_id == item.user.user_id) &&

                                                                <i class="bi bi-pencil-square ml-2"
                                                                   onClick={() => enableEdit(index)}>Edit</i>
                                                            }
                                                        {% endif %}
                                                    </div>

                                                </div>

                                                <textarea
                                                    value={content || content == "" ? (postNum || postNum == 0 ? (index == postNum ? content : item.content) : item.content) : item.content}
                                                    readOnly id={`content${index}`} className="content"
                                                    onChange={() => editContent(event, index)}
                                                        {# Update Post via Enter #}
                                                    onKeyUp={() => updatePost(event, item.id)}
                                                />
                                            </div>
                                        </div>

                                        <div className="mt-3 d-flex justify-content-center">

                                            <div className="d-flex justify-content-between">


                                                <div className="like d-flex align-items-baseline">
                                                    <button className="btn text-white">

                                                        {
                                                            {# First load of Page #}
                                                            initialLike ?
                                                                item.liked_by.includes(parseInt(user_id)) ?
                                                                    {# Unlike #}
                                                                    <i class="bi bi-heart-fill"
                                                                       onClick={() => likePost(item.id, false)}></i>
                                                                    :
                                                                    {# Like #}
                                                                    <i className="bi bi-heart"
                                                                       onClick={() => likePost(item.id, true)}></i>

                                                                :
                                                                (

                                                                    parseInt(document.getElementById(`like_count${item.id}`).innerHTML) >= item.likes ?
                                                                        {# Unlike #}
                                                                        <i class="bi bi-heart-fill"
                                                                           onClick={() => likePost(item.id, false)}></i>
                                                                        :
                                                                        {# Like #}
                                                                        <i className="bi bi-heart"
                                                                           onClick={() => likePost(item.id, true)}></i>

                                                                )

                                                        }


                                                    </button>

                                                    <span id={`like_count${item.id}`}>
                                                        {
                                                            item.likes
                                                            {#likes != null ? ((item.id === likeId) ? likes : item.likes) : item.likes#}
                                                        }
                                                    </span>
                                                </div>

                                                <div className="done_editing">
                                                    {# Update post via button #}
                                                    {content && index == postNum &&
                                                        <button className="btn btn-primary" id="edit_button"
                                                                onClick={() => updatePost(event, item.id)}>
                                                            Done Editing
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            )
                        })
                    }
                </div>
            )
        }

        // Fetch All Posts
        function Posts() {
            const [post, setPosts] = useState([]);

            useEffect(() => {
                axios.get("/posts")
                    .then(response => response.data)
                    .then(data => {
                        setPosts(data)
                    })
                    .catch(err => {
                        console.log("Error: ", err)
                    })
            }, [])

            return (
                <div className="all_posts">
                    {# Only logged in user can post #}
                    {% if user.is_authenticated %}
                        <Posting/>
                    {% endif %}

                    {# Render Posts #}
                    {post && <Pagination posts={post}/>}
                </div>
            )
        }

        // Fetch a user profile
        function Profile() {
            const [profile, setProfile] = useState([]);
            const [followingNumbers, setFollowingNumbers] = useState(0);
            let {accountId} = useParams();

            useEffect(() => {
                axios.get(`/profileView/${accountId}`)
                    .then(response => response.data)
                    .then(data => {
                        setProfile(data);
                        setFollowingNumbers(data.account.following.length);
                    })
            }, [])

            // Convert Django To React
            {% if user.is_authenticated %}
                var user_id = "{{ request.user.id }}"
            {% endif %}

            return (
                <div className="user_posts">
                    <div className="container profile pl-3 pt-2 pb-3 text-white">
                        <div>
                            <div className="d-flex">
                                <a>
                                    <i className="bi bi-arrow-left"></i>
                                </a>
                                <h4 id="username" className="ml-4"></h4>
                            </div>
                        </div>

                        <div className="mt-5">

                            <h4>{profile.account && profile.account.username}</h4>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <Link to={`/profile/${profile.account && profile.account.id}/following`}
                                          className="following"><b>{followingNumbers}  </b> Following</Link>
                                    <span className="ml-2"> <b>{profile.account && profile.account.followers_count} </b> Followers </span>
                                </div>

                                {# Show 'follow' button for logged in user #}
                                {% if user.is_authenticated %}
                                    {
                                        {# User cannot follow themselves #}
                                        user_id == (profile.account && profile.account.id) ? "" :
                                            <div>
                                                {
                                                    profile.follow_status ?
                                                        {# Unfollow button if following #}
                                                        <button className="mr-2 p-2 btn btn-primary">Unfollow</button> :

                                                        {# Follow button if not following #}
                                                        <button className="mr-2 p-2 btn btn-primary">Follow</button>
                                                }
                                            </div>
                                    }
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {# Render Post #}
                    {
                        profile.account && profile.account.posts && <Pagination posts={profile.account.posts}/>
                    }
                </div>
            )
        }

        // Display user who is being followed by this profile
        function Following() {
            const [following, setFollowing] = useState([]);
            let {accountId} = useParams();

            useEffect(() => {
                axios.get(`/profileView/${accountId}/following`)
                    .then(response => response.data)
                    .then(data => {
                        setFollowing(data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }, []);

            return (
                <div class="mt-4 container">
                    <h2 class="text-center text-light">Following List</h2>
                    {
                        following["following"] && following["following"].map((item, index) => {
                            return (
                                <div
                                    className="container w-50 bg-light justify-content-center border d-flex px-3 py-3">

                                    <Link to={`/profile/${item.user_id}`} className="following"> {
                                        item.username
                                    } </Link>
                                </div>
                            );
                        })
                    }
                </div>
            )
        }

        // Display Only Followee Post (people who is being followed)
        function FolloweePosts() {
            const [post, setPosts] = useState([]);

            useEffect(() => {
                axios.get("/followeePostView")
                    .then(response => response.data)
                    .then(data => {
                        setPosts(data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            })

            return (
                <div className="all_posts">
                    <h3 className="text-center my-3">Followee Posts</h3>

                    {# Render Posts #}
                    <Pagination posts={post}/>
                </div>
            )
        }

        function App() {
            return (
                <ReactRouterDOM.BrowserRouter>
                    <Route path="/" exact component={Posts}/>
                    <Route path="/profile/:accountId" exact component={Profile}/>
                    <Route path="/profile/:accountId/following" exact component={Following}/>
                    <Route path="/followeePost" exact component={FolloweePosts}/>
                </ReactRouterDOM.BrowserRouter>
            )
        }

        ReactDOM.render(<App/>, document.getElementById("root"))
    </script>

{% endblock %}